body {
    margin: 0;
    background-color: rgb(249, 245, 245);
}

#top-header {
    width: 100%;
    display: flex;
    background-color: rgb(2, 2, 112);
    padding: 1rem;
    justify-content: space-between;
}

#top-header i {
    color: orangered;
}

#top-header a {
    text-decoration: none;
    color: white;
}

#callable-div a {
    padding-right: 2rem;
}

#number {
    font-size: 1rem;
}

#social-icons {
    margin-right: 4rem;
}

#social-icons i {
    margin-left: 3rem;
}

#phone {
    margin-top: 0.6rem;
    margin-left: 1rem;
    margin-right: -0.5rem;
}

#envelop {
    margin-right: 1rem;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    position: absolute;
    width: 100%;
}

nav {
    display: flex;
}

nav a {
    display: inline-block;
    color: whitesmoke;
    font-size: 1.3rem;
    margin-right: 3rem;
    padding: 1rem 1rem;
    border-radius: 25px;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

nav a:hover {
    color: white;
    margin-top: 0;
    background-color: rgb(250, 163, 0);
}

#responsive-nav {
    display: none;
    padding: 1rem;
    background-color: rgb(2, 2, 112);
    text-align: center;
}

#responsive-nav a {
    margin-right: 0;
}

#responsive-nav a:hover {
    background-color: rgb(1, 1, 58);
}

#responsive-nav i {
    color: white;
    position: absolute;
    right: 3.5rem;
}

#logo {
    display: inline-block;
    margin-left: 2rem;
    margin-top: 1rem;
}

#logo img {
    width: 8rem;
}

#icon img {
    width: 2rem;
}

#phone {
    width: 2rem;
    color: red;
}

#menubar {
    display: none;
    cursor: pointer;
}

#close-nav-bar-icon{
    cursor: pointer;
}

#footer-logo {
    margin-bottom: 2rem;
}

#footer-logo img {
    width: 9rem;
}

footer {
    background-color: rgb(2, 2, 112);
    align-items: center;
    text-align: center;
    padding: 2rem 0;
    color: whitesmoke;
    font-size: 0.8rem;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 47.5%;
    z-index: 99;
    border: none;
    outline: none;
    background-color: orangered;
    color: rgb(231, 245, 175);
    cursor: pointer;
    padding: 30px 20px;
    border-radius: 50%;
    font-size: 18px;
}

#myBtn:hover {
    background-color: rgb(168, 47, 3);
    color: white;
}



@media screen and (min-width: 800px) and (max-width: 1200px) {
    #social-icons {
        margin-right: 1.5rem;
    }

    #social-icons i {
        margin-left: 1.5rem;
    }

    header {
        margin-top: 1rem;
    }

    nav a {
        font-size: 1.2rem;
        margin-right: 1rem;
    }

    #responsive-nav {
        display: none;
    }

    #menubar {
        display: none;
    }

    footer {
        padding: 1rem 0;
        color: whitesmoke;
        font-size: 0.6rem;
    }

    #myBtn {
        padding: 25px 15px;
        right: 47.5%;
    }
}




@media screen and (max-width:800px) {
    #top-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav {
        display: none;
    }

    #responsive-nav {
        display: none;
    }

    #callable-div {
        display: flex;
        flex-direction: column;
        font-size: 0.9rem;
    }

    #number {
        font-size: 0.9rem;
    }

    #envelop {
        margin-left: 1rem;
    }

    #social-icons {
        margin-right: 2rem;
    }

    #social-icons i {
        margin-left: 1rem;
    }

    #menubar {
        display: block;
        margin-right: 3rem;
        color: rgb(2, 2, 112);
    }

    #myBtn {
        padding: 25px 15px;
        right: 45%;
    }
}

@media (max-width :425px) {
    #top-header {
        padding: 0;
    }

    #callable-div a {
        padding-right: 0;
    }

    #number {
        font-size: 0.9rem;
    }

    #social-icons {
        margin-right: 1rem;
    }

    #social-icons i {
        margin-left: 1rem;
    }

    #envelop {
        margin-right: 0.9rem;
    }

    #logo {
        display: inline-block;
        margin-left: 1rem;
        margin-top: 1rem;
    }

    #logo img {
        width: 7rem;
    }

    #menubar {
        margin-right: 1rem;
    }

    #responsive-nav i {
        right: 1rem;
    }

    #myBtn {
        right: 44%;
    }
}

@media (max-width: 344px) {
    #social-icons {
        margin-right: 0.9rem;
    }

    #social-icons i {
        margin-left: 0.5rem;
    }

    #menubar {
        margin-right: 0.9rem;
    }

    #myBtn {
        right: 40%;
    }
}